@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../Assets/NetworkFreeVersion.eot");
  /* IE9 Compat Modes */
  src: url("../Assets/NetworkFreeVersion.eot") format("embedded-opentype"), url("../Assets/NetworkFreeVersion.woff") format("woff"), url("../Assets/NetworkFreeVersion.ttf") format("truetype"), url("../Assets/NetworkFreeVersion.woff2") format("svg");
  /* Legacy iOS */
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.navBar {
  width: 100%;
  height: 10%;
  padding-top: 0.7rem;
  position: fixed;
  z-index: 100;
}

.foldOutOne,
.foldOutTwo,
.foldOutThree {
  width: 35px;
  height: 5px;
  background-color: #f7b32b;
  margin: 6px 0;
  border-radius: 8px;
}

.foldOutOne:hover,
.foldOutTwo:hover,
.foldOutThree:hover {
  cursor: pointer;
}

.menu {
  float: right;
  margin-right: 5vw;
  margin-top: 10px;
  cursor: pointer;
}

.change .foldOutOne {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .foldOutTwo {
  opacity: 0;
}

.change .foldOutThree {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.overlay {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #e6e3df;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10vh;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 5rem;
  color: #e63946;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f7b32b;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.closeMenu {
  float: right;
  margin-top: -25vh;
}

.mainVideo {
  width: 90vw;
  padding-left: 5vw;
  height: 70vh;
}

h1 {
  font-family: "MyWebFont";
}

.contentArea {
  padding-top: 11vh;
  min-width: 100px;
  max-width: 500px;
  padding-bottom: 2vh;
}

.videoOne,
.videoTwo,
.videoThree,
.videoFour {
  position: relative;
  overflow: hidden;
}

.videoOne a,
.videoTwo a,
.videoThree a,
.videoFour a {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif;
  color: #f7b32b;
  letter-spacing: 4px;
  margin: 0 auto;
}

.videoOne a:hover,
.videoTwo a:hover,
.videoThree a:hover,
.videoFour a:hover {
  color: #ff7276;
}

body::-webkit-scrollbar {
  display: none;
}

.navBar h1 {
  position: absolute;
  color: #f7b32b;
  font-size: 3rem;
  width: 30%;
}

.headerContainer {
  margin-left: 5vw;
  width: 70%;
}

.theLabBackground {
  background-image: url(./lab1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8%;
  padding-left: 10%;
}

.theLabBackgroundTwo {
  background-image: url(./lab3.jpg);
  height: 100%;
}

.theLabBackgroundThree {
  background-image: url(./lab4.jpg);
  height: 100%;
  overflow: hidden;
  padding-top: 15%;
  padding-left: 15%;
}
/*# sourceMappingURL=styles.css.map */